{{layout "uuf.foundation.layout.default"}}
{{#zone "logo.productName"}}Pet Store{{/zone}}
{{#zone "content"}}
     <h1>{{name}}</h1>
     <img src="{{img}}" alt="image of {{name}}" class="pet-image">
     <p>{{description}}</p>
{{/zone}}
