{{layout "uuf.foundation.layout.default"}}
{{#fillZone "logo.productName"}}Pet Store{{/fillZone}}
{{#fillZone "content"}}
     <h1>{{name}}</h1>
     <img src="{{img}}" alt="image of {{name}}" class="pet-image">
     <p>{{description}}</p>
{{/fillZone}}
