{{layout "uuf.foundation.layout.default"}}
{{headerTitle "Pet Info" name}}

{{#fillZone "content"}}
    <h1>{{name}}</h1>
    <img src="{{public img}}" alt="image of {{name}}" class="pet-image">
    <p>{{description}}</p>
{{/fillZone}}
