<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
    <div class="thumbnail">
        <a href="{{url "pets"}}/{{id}}">
            <h2> {{name}} </h2>
            <img src="{{publicUrl "images/asset.png"}}" alt="image of {{name}}" class="asset-image" />
        </a>
        {{#each fields}}
            <h4 class="asset-field">{{name}}: {{value}}</h4>
        {{/each}}
    </div>
</div>